.canvasContainer {
  position: relative;
  flex: 1;
  background: #443737;
  border: 1px solid #2f2b2b;
  border-radius: 10px;
  transition: var(--TransitionVar);
  overflow: hidden;
  cursor: grab;
  transition: transform 0.3s ease;
}

.fullscreenBtn,
.addItemBtn {
  z-index: 9999;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
}

.addItemBtn {
  right: 120px;
}

.canvasContent {
  width: 20000px; // Placeholder for infinite scrolling
  height: 3000px;
  position: relative;
}

/* Expanded state */
.canvas-container.expanded {
  flex: 3;
}

.addItemWrapper {
  z-index: 9999;
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}




