.SettingsCont{
    transition: var(--TransitionVar);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.SettingsTitle{
    transition: var(--TransitionVar);
    position: relative;
    top: .5em;
    left: 0;
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    transition: color 0.5 linear;
    color: var(--PrimaryTextColor);
}

.SettingsOptions{
    transition: var(--TransitionVar);
    background-color: var(--PrimaryColor);
    width: 70%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 0.5em;
    padding: 1em 0;

}
.Option{
    transition: var(--TransitionVar);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    color: var(--PrimaryTextColor)
}
#DarkMode{
    gap: 1em;
}