#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--FontFamily);
  background-color: var(--BackgroundColor);
  color: var(--PrimaryTextColor);
  transition: var(--TransitionVar);

}

#App {
  width: 100vw;
  height: var(--AppHeight);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: var(--TransitionVar);
  position: relative;
}

#AppCont{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  transition: var(--TransitionVar);
}
.SideColumn {
  height: var(--AppHeight);
  width: 22.5em;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s cubic-bezier(.58, .17, .48, .92), width 0.3s cubic-bezier(.58, .17, .48, .92);
  transition: var(--TransitionVar);
  background-color: blue;
}

.SCClosed {
  width: calc(25em - 200px);
  transform: translateX(-160px);
  // filter: opacity(.5);
}

.Workspace {
  transition: var(--TransitionVar);
  flex-grow: 1;
  height: var(--AppHeight);
  width: calc(100% - 22.5em);
}