#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--FontFamily);
  background-color: var(--BackgroundColor);
  color: var(--PrimaryTextColor);
}

#App {
  width: 100vw;
  height: var(--AppHeight);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#AppCont{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.SideColumn {
  height: var(--AppHeight);
  width: 20em;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s cubic-bezier(.58, .17, .48, .92), width 0.3s cubic-bezier(.58, .17, .48, .92);

}

.SCClosed {
  width: 5em;
  transform: translateX(-160px);
  // filter: opacity(.5);
}

.Workspace {
  flex-grow: 1;
  height: var(--AppHeight);
  // width: calc(100vw - 10em);
  width: 100%;
}