#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--FontFamily);
  background-color: var(--BackgroundColor);
  color: var(--PrimaryTextColor);
}

#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.SideColumn {
  height: 100vh;
  width: 10em;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s cubic-bezier(.58, .17, .48, .92);

}

.SCClosed {
  transform: translateX(-10em);
  // filter: opacity(.5);
}

.Workspace {
  height: 100vh;
  width: calc(100vw - 10em);
}