:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --BackgroundColor: #1b1313;
  --PrimaryColor: #8E8383;
  --SecondaryColor: #272020;
  --TertiaryColor: #804F4F;
  --TertiaryColorDark: #432a2a; 
  --PrimaryTextColor: #DFDFDF;
  --SecondaryTextColor: #767676;
  --TransitionVar: all 0.3s ease-in-out;
  --AppHeight: calc(100vh - 2em);
  --BoxShadow: 2px 2px 5px rgba(0, 0, 0, .1);
}
